  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  p {
    text-align: center;
    font-size: 60px;
    clear: both;
    position:static;
  }
  button{
    clear: both;
    font-size: 60px;
  }
  @font-face {
    font-family: 'Vulf Mono';
      src:url("/fonts/VulfSans/Web/Vulf_Sans-Medium.ttf");
    }
    div {
      font-family: 'Vulf Mono';
    }